<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Big Server</title>
    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="/assets/fonts/fontawesome-free-6.3.0-web/css/all.min.css"
    />
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/base.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">
            <i class="fa-solid fa-house icon-home"></i>
            Home
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form action="/login" method="post" class="navbar-form navbar-right">
            <div class="form-group">
              <input
                type="text"
                name="username"
                placeholder="User Name"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                name="password"
                placeholder="Password"
                class="form-control"
              />
            </div>
            <button type="submit" class="btn btn-success">Log in</button>
          </form>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </nav>
    <div class="jumbotron" style="margin-top: 52px">
      <div class="container">
        {% if error %}
        <div class="alert alert-danger" role="alert">
          <span
            class="glyphicon glyphicon-exclamation-sign"
            aria-hidden="true"
          ></span>
          <span class="sr-only">Error:</span>
          {{ error }}
        </div>
        {% endif %}
        <div class="text-center">
          <h1 class="fw-bold mb-16" style="font-weight: 700">
            HỆ THỐNG GIÁM SÁT TÊN MIỀN
          </h1>
          <p>
            Chào mừng đến Hệ Thống Giám Sát Tên Miền<br />Bạn có thể giám sát
            các DNS không hợp lệ trong mạng.
          </p>
        </div>
      </div>

      <!-- <div class="slide_content">
        <div class="btn-scrol">
          <button id="prev"><</button>
          <button id="next">></button>
        </div>
        <div class="slider">
          <div class="slide-show">
              <div class="item active">
                <img src="assets/img/a1.png" alt="">
              </div>
              <div class="item active">
                <img src="assets/img/a2.jpg" alt="">
              </div>
              <div class="item active">
                <img src="assets/img/a3.jpg" alt="">
              </div>
          </div>
        </div>
      </div> -->
      <div class="slide_content">
        <div class="btn-scrol">
          <button id="prev"><</button>
          <button id="next">></button>
        </div>
        <div class="slider">
          <div class="slide-show">
            <div class="item active">
              <img src="/assets/img/a1.png" alt="" />
            </div>
            <div class="item active">
              <img src="/assets/img/a2.jpg" alt="" />
            </div>
            <div class="item active">
              <img src="/assets/img/a3.jpg" alt="" />
            </div>
          </div>
        </div>

        <!-- <p id="title">Ảnh
            <span id="number">1</span> /
            <span id="demo">7</span>
        </p> -->
      </div>
    </div>
    <footer class="footer" style="margin-top: 120px">
      <div>
        <div class="footer__content">
          <h3 class="footer__heading" style="font-weight: 700; color: white">
            Liên hệ
          </h3>
          <div class="footer-list mr-16">
            <li class="footer-item">
              <a href="" class="footer-item__link" style="font-weight: 700">
                <i class="footer-item__icon fa-brands fa-facebook"></i>
                Facebook
              </a>
            </li>
          </div>
          <div class="footer-list mr-16">
            <li class="footer-item">
              <a href="" class="footer-item__link" style="font-weight: 700">
                <i class="footer-item__icon fa-brands fa-instagram"></i>
                Instagram
              </a>
            </li>
          </div>
          <div class="footer-list mr-16">
            <li class="footer-item">
              <a href="" class="footer-item__link" style="font-weight: 700">
                <i class="footer-item__icon fa-brands fa-linkedin"></i>
                Linkedin
              </a>
            </li>
          </div>

          <!-- <ul class="footer-list">
                  <li class="footer-item">
                      <a href="" class="footer-item__link">
                          <i class="footer-item__icon fa-brands fa-facebook"></i>
                          Facebook
                      </a>
                  </li>
                  <li class="footer-item">
                      <a href="" class="footer-item__link">
                          <i class="footer-item__icon fa-brands fa-instagram"></i>
                          Instagram
                      </a>
                  </li>
                  <li class="footer-item">
                      <a href="" class="footer-item__link">
                          <i class="footer-item__icon fa-brands fa-linkedin"></i>
                          Linkedin
                      </a>
                  </li>
                </ul> -->
        </div>
      </div>

      <div class="footer__bottom">
        <p class="footer__text" style="color: white">
          © 2023 - Bản quyền thuộc về ABC
        </p>
      </div>
    </footer>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/index.js"></script>
  </body>
</html>
