<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Big Server</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/fileinput.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/base.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
	  <h1 align="center" style="color:white;">HỆ THỐNG GIÁM SÁT TÊN MIỀN</h1>
        <div class="navbar-header">
		
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  
		  <table style="width:100%">
							<tr>
							<td><a class="navbar-brand" href="/">Home</a></td>
							<td><a class="navbar-brand" href="/pre_update">Update</a></td>
							<td><a class="navbar-brand" href="/pre_backup">Backup</a></td>
							<td><a class="navbar-brand" href="/edit_whitelist">Whitelist</a></td>
							<td><a class="navbar-brand" href="/edit_malware">Malware</a></td>
							<td><a class="navbar-brand" href="/edit_client">Client</a></td>
							<td><a class="navbar-brand" href="/view">View_Client</a></td>
							<td><a class="navbar-brand" href="/pre_filter">Filter</a></td>
							
						    </tr>
		  </table>
          
        </div>
        <ul class='nav navbar-nav pull-right'>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <div class="container" style="margin-top: 52px;">
		
		
		
      <div class="row">
	  </br>
	</br></br>
	</br>
				{% if msg %}
				<div class="alert alert-info" role="alert">
					{{ msg }}
				</div>
				{% endif %}
        
      </div>
	  </br>
	  <div class="row">
	  {% if name1 and name2 %}
				
					<a class="navbar-brand" href="bk/{{ name1 }}">blacklist</a>
					<a class="navbar-brand" href="bk/{{ name2 }}">malwarelist</a>
					
				
	{% endif %}
	  
	  </div>
	  <div class="row">
	     <h2>Backup blacklist</h2>
	        <p>Tạo và lưu file Backup blacklist và clear cache</p>
	        <form action="/backup" method="post">
			  <button type="submit" class="btn btn-primary btn-large">Backup</button>  
			</form>
			</br>
	  </div>
	  
	  </br>
	  
      <footer>
        
      </footer>
    </div> <!-- /container -->

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/fileinput.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>

