/* html {
    background-image: url(/assets/img/img-bg.jpg);
} */

/* Container */

:root {
  --primary-color:#3b82f6;
}

button {
  border: none !important;
  outline: none !important;
}

.btn-primary {
  background-color: var(--primary-color) !important;
}

.jumbotron {
    min-height: 100%;
    background-color: white;
    padding: 16px 0;
}

.mb-16{
    margin-bottom: 16px;
}

.mr-16 {
    margin-right: 16px;
}

/* Nav bar */
.navbar-brand .icon-home {
    margin-left: 16px;
}

.navbar-inverse {
    background-color: var(--primary-color);
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-brand:hover {
    color: rgb(223, 213, 213);
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    margin-right: -28px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: rgb(223, 213, 213);
}

.navbar-brand {
    display: block;
    padding: 15px 40px 15px 0;
}

.navbar-brand:hover {
    display: block;
    background-color: rgb(223, 213, 213);
}

.navbar-brand  {
    display: inline-block;

    font-weight: 600;
}

/* Button */
.btn-primary {
    background-color: #0a6ccb;
}

.btn-primary:hover {
    background-color: #337ab7;
}

/* slide */
.slide_content {
    display: flex;
    align-items: center;
    justify-content: center;
}


.slider {
    width: 75%;
    height: 400px;
    position: relative;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
}

#prev,
#next {
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    width: 60px;
    height: 60px;
    font-size: 35px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    line-height: 40px;
    opacity: 0.9;
    font-size: 28px;

    transition: all 0.25s ease-out;
}

#prev:hover,
#next:hover {
  opacity: 0.6;
}

#next {
    left: 84%;
}

#prev{
    right: 84%;
}

.slider #prev:hover,
.slider #next:hover {
    background-color: brown;
}

.item {
    display: none;
}

.item.active {
    display: block;
}

.item img {
    position:relative;
    width: 75%;
    height: 400px;
    animation:animateright 1.6s;
}

@keyframes 
animateright{
    from{ 
        right:-50px;
    } 
    to{
        right:0;
    }
}


/* Footer */

.footer {
    min-height: 130px;
    background-color: var(--primary-color);
    text-align: center;
    bottom: 0;
    padding-block: 24px;
}

.footer__haeding {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: black;
}

.footer-list {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin-top: 12px;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #ffffff;
    padding: 2px 0;
}

.footer-item__link:hover {
    color: white;
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__bottom {
    padding: 8px 0;
    margin-top: 20px;
}

.footer__text {
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    color: black;
}

.black-list-form {
  padding: 22px;
  border-radius: 8px;
  background-color: var(--primary-color);
}