/* Responsive */

@media screen and (min-width: 1024px) and (max-width: 1239px) {
    .navbar-brand .icon-home {
        margin-left: 16px;
    }

    .jumbotron .h1, .jumbotron h1 {
        font-size: 44px;
    }

    .slider {
        height: 340px;
    }

    .item img {
        height: 340px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar-brand .icon-home {
        margin-left: 16px;
    }

    .jumbotron .h1, .jumbotron h1 {
        font-size: 40px;
    }

    .jumbotron p  {
        font-size: 19px;
    }

    .slider {
        height: 280px;
    }

    .item img {
        height: 280px;
    }

    #prev,
    #next { 
        width: 30px;
        height: 30px;
        font-size: 30px;
        line-height: 30px;
        opacity: 0.7;
    }   

    @keyframes 
    animateright{
        from{
            right:-30px;
        } 
        to{
            right:0;
        }
    }
}

@media screen and (max-width:767px){
    .navbar-brand .icon-home {
        margin-left: 14px;
    }

    .jumbotron .h1, .jumbotron h1 {
        font-size: 22px;
    }

    .jumbotron p  {
        font-size: 13px;
    }

    .slider {
        height: 150px;
    }

    .item img {
        height: 150px;
    }

    #prev,
    #next { 
        width: 30px;
        height: 30px;
        font-size: 30px;
        line-height: 30px;
        opacity: 0.7;
    } 

    @keyframes 
    animateright{
        from{
            right:-10px;
        } 
        to{
            right:0;
        }
    }

    .footer__haeding {
        font-size: 1rem;
    }

    .footer-item__link {
        font-size: 1.2rem;
    }

    .footer__bottom {
        margin-top: 14px;
    }

    .footer__text {
        font-size: 1.3rem;
    }
}